@{
    ViewData["Title"] = "Conference";
}

<div class="text-center">
    <h2 class="display-4">Создание конференции</h2>
</div>

<form method="post">
    <div class="row">
        <div class="col-4">Название конференции:</div>
        <div class="col-8"><input type="text" name="name" id="name" /></div>
    </div>
    <div class="row">
        <div class="col-4">Дата проведения:</div>
        <div class="col-8"><input type="datetime-local" name="date" id="date" /></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-4"><input type="submit" value="Создать" class="btn btn-primary" /></div>
        <div class="col-3"></div>
        <div class="col-4"><input type="submit" value="Отмена" class="btn btn-primary" /></div>
    </div>
</form>