@{
    ViewData["Title"] = "Participant";
}

<div class="text-center">
    <h2 class="display-4">Создание участника семинара</h2>
</div>

<form method="post">
    <div class="row">
        <div class="col-3">ФИО:</div>
        <div class="col-9"><input type="text" name="fio" id="fio" /></div>
    </div>
    <div class="row">
        <div class="col-3">Статус:</div>
        <div class="col-9"><input type="text" name="status" id="status" /></div>
    </div>
    <div class="row">
        <div class="col-3">Семинар:</div>
        <div class="col-9">
            <select id="seminar" name="seminar" class="form-control" asp-items="@(new SelectList(@ViewBag.Seminars,"Id", "SeminarName"))"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-4"><input type="submit" value="Создать" class="btn btn-primary" /></div>
        <div class="col-3"></div>
        <div class="col-4"><input type="submit" value="Отмена" class="btn btn-primary" /></div>
    </div>
</form>